body{
    background-color: rgb(26, 41, 41);
    box-sizing: border-box;
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(3,1fr);
    height: 600px;
    width: 600px;
    color: white;
    
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(143, 122, 226);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(72, 222, 222);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(41, 41, 238);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2{
    background-color: rgb(41, 41, 238);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content3{
    background-color: rgb(41, 41, 238);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(143, 122, 226);
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}