.flag{
    height: 400px;
    width: 600px;
    background-color: rgb(0, 40, 104);
    position: relative;
}

.box{
    background-color: rgb(206, 18, 38);
}

.first,.second{
    position: absolute;
    height: 100px;
    width: 600px;
}

.second{
    bottom: 0px;
}

.circle{
    position: absolute;
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
    left: 220px;
    top: 125px;
}