.flag{
    position: relative;
    background-color: rgb(0, 59, 121);
    height: 400px;
    width: 600px;
}

.wbox{
    background-color: white;
}

.first,.second{
    position: absolute;
    height: 175px;
    width: 200px;
}
.second{
    bottom: 0px;
}

.third,.fourth{
    position: absolute;
    height: 175px;
    width: 350px;
}
.third{
    right: 0px;
}
.fourth{
    bottom: 0px;
    right: 0px;
}

.rbox{
    background-color: rgb(186, 12, 47);
}

.fifth,.sixth{
    position: absolute;
    height: 150px;
    width: 175px;
}
.sixth{
    bottom: 0px;
}

.seventh,.eighth{
    position: absolute;
    height: 150px;
    width: 324px;
}
.seventh{
    right: 0px;
}
.eighth{
    right: 0px;
    bottom: 0px;
}