*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}
.main-container{
display: grid;
grid-template-columns: 350px 1fr;
height: 800px;
max-width: 1200px;
gap: 40px;
padding-top: 40px;
margin: auto;
}
 body{
 background-color: #1e1e1e;
 color: #a0a0a0;
 line-height: 1.6;
 font-family: sans-serif;
 }

.sidebar{
background-color: #2a2a2a;
height: 90vh;
border: 1px solid #3a3a3a;
border-radius: 16px;
padding: 30px;
position: sticky;
top: 40px;

}

.main-content{
background-color: #2a2a2a;
border: 1px solid #3a3a3a; 
padding: 40px;
border-radius: 15px;


}

/* profile */

#profile-pic{
height: 120px;
width: 120px;
border-radius: 50%;
border: 1px solid #3a3a3a;
}

.profile h2{
font-size: 1.5rem;
font-weight: 700;
margin-top: 20px;
color: #e0e0e0;
}

.profile p{
background-color: #1e1e1e;
padding: 5px 15px;
color: #FFBF00;
border: 1px solid #3a3a3a;
font-size: 0.8rem;
border-radius: 8px;
display: inline-block;
margin-top: 10px;
width: 150px;
}

.profile{
display: flex;
flex-direction: column;
align-items: center;
}

/* contact */

.contact{
margin-top: 30px;
border-top: 2px solid #3a3a3a;
padding-top: 20px;
}

.contact h3{
font-weight: 500;
font-size: 0.8rem;
color: #a0a0a0;
}

.contact a,p{
color: #e0e0e0;
text-decoration: none;

}

.phone,.email{
margin-bottom: 15px;
}

/* socials */

.social{
margin-top: 30px;
border-top: 2px solid #3a3a3a;
padding-top: 20px;
display: flex;
justify-content: center;
gap: 7px
}

.social img{
height: 30px;
width: 30px;
filter: grayscale(1) invert(0.7);
transition: filter 0.3s ease;

}

.social img:hover{
filter: grayscale(0) invert(0);

}
/* Main content */

/* Navigation */

#navigation{
margin-bottom: 20px;
border-bottom: 2px solid #3a3a3a;
padding-bottom: 20px;

}

#navigation nav{
display: flex;
justify-content: flex-end;
gap: 20px;
}

#navigation a{
color: #a0a0a0;
font-weight: 500 ;
text-decoration: none;
transition: color 0.3s ease;
}

#navigation .active ,#navigation a:hover{
color: #FFBF00;
}

/* About */

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    margin-bottom: 15px;
    height: 5px;
    background-color: #FFBF00;
}

#about{
    margin-bottom: 40px;
}
.content{
    text-align: justify ;
    color: #a0a0a0;
}

/* Skills */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(120px,1fr));
    gap: 40px;
}


.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;  
    font-weight: 500;
}


.item:hover{
    transform: scale(1.15);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}