body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sun{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 50px 20px red;
}